<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href ="/rango/category/{{ category.url }}">{{ category.name }}</a> has {{ category.likes }} likes and {{ category.views }} views</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <h2>Popular Pages</h2>

        {% if pages %}
            <ul>
                {% for page in pages %}
                <li>{{ page.title }} has {{ page.views }} view</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}


        <a href="/rango/register/">Register Here</a>
        <a href = '/rango/add_category/'>Add a new Category</a>
        <a href="/rango/about/">About</a>
    </body>
</html>